.projects{

    counter-reset: item;

    &__item{
        list-style: none;
         &:not(:last-child){
             margin-bottom: 2.8rem;
         }
    }

    &__link{
        &:link,
        &:visited{
            text-decoration: none;
            color: inherit;
            font-family: playfair-display, serif;
            font-size: Max(6rem, 40px);
            font-weight: 400;
            display: inline-block;
            text-transform: uppercase;

            transition: all 0.2s;
            

            opacity: 0.3;

            line-height: Max(6.5rem, 50px);
            max-height: 6.5rem;

            &:hover{
                opacity: 1;
                font-size: Max(6.5rem, 50px);
            }

            &::after{
                font-size: Max(1.6rem, 12px);
                padding-left: 1.6rem;
                content: "(0" counter(item) ")";
                counter-increment: item;
            }

            @media only screen and (max-width: $phone-screen) {
                opacity: 1;

                display: flex;
                justify-content: space-between;
                align-items: baseline;

                &::after{
                    opacity: 0.3;
                }
            }

        }
    }

}