// .content{
//     &__title{
//         // transform: translateX(-5rem);
//     }
//     &__description.show-on-scroll{
//         // transform: translateX(5rem);
//     }
// }

// .project{
//     &__links{
//         opacity: 0;
//         &:first-of-type{
//             transform: translateX(-5rem);
//         }
//         &:last-of-type{
//             transform: translateX(5rem);
//         }
//     }

//     &__header--numeration{
//         opacity: 0;
//         transform: translateX(5rem);
//     }
// }

// .header-primary{
//     transform: translateX(-5rem);
// }


.show-on-scroll{
    opacity: 0;
    transition: 
        opacity 1s 0.1s ease-out,
        transform 1s 0.1S ease-out;

    will-change: transform, opacity;    

    transform: translateX(-5rem);
}

// .projects{
//     &__item{
//         transform: translate(5rem, -1.5rem);

//         transition: 
//         opacity 1s 0.1s ease-out,
//         transform 1s 0.1S ease-out;
//     }
// }

.footer{
    &__item{
        transform: translateY(3rem);
        opacity: 0;
    }
}

.navigation{
    &__item{
        transform: translateY(-3rem);
    }
}


.is-visible{
    opacity: 1;

    &.show-on-scroll{
        transform: none;
    }

    &.hero__description,
    &.header-primary{
        transform: none;
    }

    &.hero__description{
        @media only screen and (max-width: $phone-screen){
            opacity: 0.3;
        }
    }

    &.content-grid{
        &__title,
        &__description,
        &__sub-title{
        transform: translateX(0);
        }
    }

    &.content{
        &__title,
        &__description{
            transform: none;
        }
    }

    &.projects{
        &__item{
            transform: translate(0,0);
        }
    }

    &.project{
        &__links{
            opacity: 0.3;
            transform: translateX(0);
            transition: 
                transform 1s 0.1S ease-out;
        }
        &__header--numeration{
            opacity: 0.6;
            transform: none;
        }
    }

    &.footer__item,
    &.navigation__item{
        transform: none;
        transition: 
                transform 1s ease-out,
                opacity 1s ease-out,
                background-color 0.5s ease;
        @for $i from 1 through 3{
            &:nth-child(#{$i}){
                transition-delay: 0.2S*$i;
            }
        }
    }
    
}
